{% extends 'base.html' %}

{% if user.is_authenticated %}
        {% block content %}
                <h1>Connect Page</h1>

                <p>Connection</p>
                <form method="post">
                        {% csrf_token %}
                        <button type = "submit" name ="list_peers">List_peers</button>
                </form>


                <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type ="Text", name="userinput">

                        <button type = "submit" name ="remove_client">Remove_client</button>
                </form>


                <form method="post">
                        {% csrf_token %}
                        <input type ="Text", name="path">
                        <input type ="Text", name="IP_Addr">

                        <button type = "submit" name ="change_DNS">Change DNS</button>
                </form>


                <form method="post">
                        {% csrf_token %}
                        <input type ="Text", name="username">

                        <button type = "submit" name ="make_client_config">Make_client_config</button>
                </form>

                <form method="post">
                        {% csrf_token %}
                        <button type = "submit" name ="login">login</button>
                </form>


        {% endblock %}
{% else %}
        <p>Login <a href="/login">Here</a></p>
{% endif %}
